// Specific CSS for your home-page

// general de la home page
body {
  background: #F0F2F5;
}

.home-container {
  width: 100%;
  height: 10vh;
  // padding-top: 2vh;
  // background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.def-title {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
}
.welcome {
  font-size: 90px;
  padding-top: 0;
  color: #0869a1;
}
.welcome span {
  font-size: 90px;
  color: #FBBE3E;
}

.sprint-title {
  font-size: 90px;
}

.tag-line {
  font-size: 28px;
  color: #FBBE3E;
  font-style: italic;
}

.heading-container {
  width: 100%;
  padding-top: 2vh;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;


}

// haut de la home page
.home-heading-content {
  width: 40%;
  height: 250px;
  background: #F0F2F5;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  // border-left: 1px solid black;
  // border-top: 1px solid black;
  // border-right: 1px solid black;
  border-radius: 10px 10px 0px 0px;

}

// interieur du haut de la home
.trello-card {
  width: 200px;
  height: 200px;
  background-color:#F0F2F5;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}

.Trello-logo {
  width: 150px;
  height: 150px
}

.plus-icon {
  font-size: 40px;
}

.sprint-card {
  width: 200px;
  height: 200px;
  background-color: #F0F2F5;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}

.Sprint-logo {
  width: 150px;
  height: 150px;
}

// bas de la home page
.home-bottom-content {
  width: 40%;
  height: 150px;
  background: #F0F2F5;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  padding-top: 40px;
}

// interieur du bas de home
.btn-connexion {
  font-size: 25px;
  // border: 1px solid black;
  border: none;
  background-color: #007AC2;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  text-align: center;
  color: #FAFAFA;
  font-weight: 600;
  letter-spacing: 0.5px;

  &:hover {
    background-color: #FBBE3E;
  }
}
