// Import page-specific CSS files here.
@import "home";

// GENERAL
.container {
  margin-top: 2vh;
}

h1 {
  padding-top: 60px;
  font-weight: 700;
}

// CARDS
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  place-items: center;
  grid-gap: 30px;
  width: 100%;
  padding-top: 20px;
}

// AGENDA

// timeline
.agenda-container {
  padding-top: 20px;
  width: 100%;
  display: grid;
  place-items: center;
}

.timeline {
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-bottom: 2px solid #BFABAB;
}

.timeline span {
  color: #BFABAB;
  font-size: 20px;
}

// table grid
.table {
  padding-top: 20px;
  width: 90%;
  height: 600px;
  border-bottom: 2px solid #BFABAB;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.inner-table {
  padding-top: 40px;
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
