// GENERAL
body {
  background: #fafafa;
}

.new-board-container {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.new-board-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.new-board-card {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(202, 202, 202);
  margin-bottom: 20px;
  background: #007AC2;
  &:hover {
    background: #FBBE3E;
  }
}

// .new-board-card:nth-child(odd) {
//   background: #007AC2;

//   &:hover {
//     background: #FBBE3E;
//   }
// }

// .new-board-card:nth-child(even) {
//   background: #FBBE3E;

//   &:hover {
//     background: #007AC2;
//   }
// }

.project-title {
  font-size: 20px;
  font-weight: 700;
  color: #fafafa;
  cursor: pointer;
}
