
<div class="container"
data-controller="mission">
  <h1>Your tasks</h1>
  <div class="card-container">
    <% @tasks.each do |task| %>
      <%= render 'shared/task_card', task: task%>
    <% end %>
  </div>
