<div class="container" data-controller="tasks" data-controller="formModal">

  <% mission = (current_user.current_mission || current_user.missions.last) %>

  <h1>Current task</h1>
  <div class="current-task-container">
    <div class="current-task-infos">
      <%= render 'missions/current', mission: mission %>
    </div>
  </div>

  <h1>To do list</h1>
  <div class="card-container">
    <div class="cards-list-container">
      <% @tasks.each do |task| %>
        <%= render 'shared/task_item', task: task %>
        <%#= render 'shared/task_card', task: task%>
      <% end %>
    </div>
  </div>

  <h1>Done tasks</h1>
  <div class="done-tasks-container">
    <div class="done-tasks-list">
      <div class="cards-list-container">
        <% @tasks.each do |task| %>
          <%= render 'shared/task_item', task: task %>
          <%#= render 'shared/task_card', task: task%>
        <% end %>
      </div>
    </div>
  </div>

  <% if mission %>
    <div class="feedback-form-container" data-form-modal-target="formModal">
      <%= render "shared/feedback_form", review: @review, task: current_user.missions.last.task %>
    </div>
  <% end %>

</div>
