<footer>
  <div class="footer-container">
    <div class="footer-nav">
      <%= image_tag "facebook.png", class: "footer-icon" %>
      <%= image_tag "instagram.png", class: "footer-icon"  %>
      <%= image_tag "github.png", class: "footer-icon"  %>
      <%= image_tag "email.png", class: "footer-icon"  %>
    </div>
    <div class="footer-info">
      <span>All rights reserved, Sprint 2022.</span>
    </div>
  </div>
</footer>
