    <div class="row ghost-current-overlay">
      <div class="column left">

        <div class="current-task-heading-content">
          <h2>No current task</h2>
            <p>
              <span>Description:</span>
              ...
            </p>
        </div>


        <div class="time-details">

          <div class="text-field">
            <p>Session time:</p>
            <div class="timer-display" >

                  <span>--:--:--</span>
            </div>
          </div>
          <%# #todo jeudi %>
          <div class="text-field">
            <p>Total time:</p>
            <div class="total-time">
              <span>--:--:--</span>
            </div>
          </div>
          <div class="text-field">
            <p>estimated time:</p>
            <div class="total-estimated-time">
              <span>--:--:--</span>
            </div>
          </div>



        </div>

      </div>

      <div class="column right">
        <div class="buttons-play-pause-stop">

            <button class="play-button" >
              <%= image_tag "play-64.png", class: "button-pictures play-part" %>
            </button>


          <button class="end-task-button" >
            <%= image_tag "stop.png", class: "button-pictures" %>
          </button>
        </div>

        <div class="feedback-button">
          <span data-action="click->form-modal#openModal">Add feedback <%= image_tag "comments-32.png", class: "feedback-icon"%></span>
        </div>

      </div>
    </div>
