<div class="table-card-wrapper">
  <div class="table-card-left">
    <%= image_tag "timer.png", class: "timer-pic"%>
    <span>01:28:46</span>
  </div>
  <div class="table-card-right">
  <%= image_tag "bouton-jouer.png", class: "pause-pic"%>
  </div>
</div>
