<div class="table-card-wrapper" data-controller="feedback" >
  <div class="table-card-left">
    <%= image_tag "timer.png", class: "timer-pic"%>
    <span> <%= render "shared/timer", mission: mission %> </span>
  </div>
  <div class="table-card-right">
    <button data-action="click->feedback#open">Add feedback<%= image_tag "bouton-jouer.png", class: "pause-pic"%></button>
  </div>
  <div class="feedback-form" data-feedback-target="feed">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quibusdam facilis, maxime optio deserunt quos, aliquam corporis dolor itaque ducimus esse incidunt ratione commodi sit? Sapiente quod odio expedita voluptatum?</p>
  </div>
</div>
