<div class="table-card-wrapper">
  <div class="table-card-left">
    <%= image_tag "timer.png", class: "timer-pic"%>
    <span> <%= render "shared/timer", mission: mission %> </span>
  </div>
  <div class="table-card-right">
  <span>Add feedback</span>
  <%= image_tag "bouton-jouer.png", class: "pause-pic"%>
  </div>
</div>
