
<div class="timer-card-wrapper" data-controller="feedback" data-feedback-target="feed" >
  <div class="feedback-card-front">
    <button data-action="click->feedback#open">Add feedback<%= image_tag "bouton-jouer.png", class: "pause-pic"%></button>
  </div>
</div>

<!--<div class="table-card-wrapper" data-controller="feedback" data-feedback-target="feed" >
  <div class="front-card">
     <button data-action="click->feedback#open">Add feedback<%= image_tag "bouton-jouer.png", class: "pause-pic"%></button>
  </div>

  <div class="back-card">
    <div class="feedback-form">
      <div class="top-back-card">
        <h3>Add your feedback</h3>
        <button data-action="click->feedback#open">&times;</button>
      </div>
      <div class="bottom-back-card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quibusdam facilis, maxime optio deserunt quos, aliquam corporis dolor itaque ducimus esse incidunt ratione commodi sit? Sapiente quod odio expedita voluptatum?</p>
      </div>
    </div>
  </div>

</div>-->
