<div class="task-wrapper">

  <div class="task-name">
    <p>
      <%= task.name %>
    </p>
  </div>

  <div class="task-informations">

    <div class="task-estimated-time">
      <p>
        1h30min (<%= task.estimated_time %>)
      </p>
    </div>

    <div class="task-description">
      <span>
        Description
      </span>
    </div>

    <div class="launch-task">
      <span data-task-id="<%= task.id %>" data-action="click->tasks#startTask">
        Launch task
      </span>
    </div>

  </div>

</div>

<!--<%= task.desc %>-->
