<div class="card-wrapper">
  <div class="card-top">
    <h4>Task</h4>
    <%= image_tag "play.png", class: "top-card-pic"%>
  </div>
  <div class="card-bottom">
    <div class="card-bottom-info">
      <div class="estimated-time">
        <span>45min</span>
      </div>
      <div class="details">
        <span>Details <%= image_tag "bouton-jouer.png", class: "card-bottom-toggle"%></span>
      </div>
    </div>
  </div>
</div>
