<div class="timer-card-wrapper" data-controller="feedback" data-feedback-target="feed" >
  <div class="timer-card-content">
    <span>01:28:46</span>
  </div>
  <div class="timer-play">
    <button><%= image_tag "play.png", class: "timer-pic"%></button>
  </div>
</div>
