<div class="home-container">
<div class="def-title"><h1 class="welcome">Welcome to <span>Sprint</span></h1></div>
<h2 class="tag-line">Optimize your workflow</h2>
  <div class="heading-container">

    <div class="home-heading-content">

      <div class="trello-card">
        <%= image_tag "Trello.png", class: "Trello-logo"%>
      </div>

      <div class="plus-icon">
        <%= image_tag "plus.png"%>
      </div>

      <div class="sprint-card">
        <%= image_tag "sprint-logo.png", class: "Sprint-logo"%>
      </div>

    </div>

  </div>

  <div class="home-bottom-content">
    <%= link_to users_connect_trello_account_path do %>
      <button class="btn-connexion">Connect your Trello</button>
    <% end %>
  </div>

</div>
