<div class="home-container">
<h1 class="home-title">Welcome to Sprint</h1>
  <div class="heading-container">

    <div class="home-heading-content">

      <div class="trello-card">
        <%= image_tag "Trello.png", class: "Trello-logo"%>
      </div>

      <div class="plus-icon">
        <%= image_tag "plus.png"%>
      </div>

      <div class="sprint-card">
        <%= image_tag "sprint-logo.png", class: "Sprint-logo"%>
      </div>

    </div>

  </div>

  <div class="home-bottom-content">
    <button class="btn-connexion">Connect with Trello</button>
  </div>

</div>
