



<div class="new-board-container">

  <h1>Choose a project</h1>
  <div class="new-board-wrapper">

    <% boards.each do |board| %>
        <div class="new-board-card">
            <div data-action="click->project#selectBoard"
                data-name="<%= board['name'] %>"
                data-id="<%= board['id'] %>"
                class="project-title"
                >
              <%= board['name'] %>
            </div>
        </div>
      <% end %>
  </div>

</div>
