// position, couleur et taille du footer
footer {
  background-color: #1BB7D1;
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

// position des elements interieurs du footer
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// taille et position des icones
.footer-icon {
  height: 20px;
}

// texte du footer info
.footer-info span {
  font-size: 12px;
  font-style: italic;
}
